<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="textBox2.AcceptsReturn" value="True" />
		<add key="textBox2.Multiline" value="True" />
		<add key="textBox2.ReadOnly" value="True" />
	</appSettings>
</configuration>